<html>
  <h1><%=@team.name%></h1>
  <h3>Team Motto: <%=@team.motto%></h3>

  <h2>Hero Name: <%=Hero.all[0].name%></h2>
  <p>Hero Power: <%=Hero.all[0].power%>
  <p>Hero Biography: <%=Hero.all[0].bio%> </p>

  <h2>Hero Name: <%=Hero.all[1].name%></h2>
  <p>Hero Power: <%=Hero.all[1].power%>
  <p>Hero Biography: <%=Hero.all[1].bio%> </p>

  <h2>Hero Name: <%=Hero.all[2].name%></h2>
  <p>Hero Power: <%=Hero.all[2].power%>
  <p>Hero Biography: <%=Hero.all[2].bio%> </p>
</html>
